body {
    padding-left: 5%;
    padding-right: 5%;
    background-color: #e0e0e4;
  }

  /*desktop*/
#content {
    width: 75%;
    margin: auto;
    line-height: 1.5em;
    font-size: 1.5em;
}

/*phone*/

@media (orientation: portrait) 
   { #content
     {width:100%;
    line-height: 2em;
    font-size: 1.5 em;}
}

#nav-bar {
    display: flex;
    font-size: 0.75em;
    flex-direction:row ;
    font-family:'Trebuchet MS';
}

.nav-button {
    padding-left: 5%;
    padding-right: 5%;
    background-color: rgb(216, 218, 221);
    border-radius: 20px;
    margin: 20px;
}

.nav-button {
    font-family: 'Trebuchet' serif;
    color: rgb(242, 238, 238);
    text-decoration:solid;
    font-weight: bold;
}

.flex-container {
    display: flex;
    gap: 20px;
}

.column {
    width: 50%;
    /* Each column takes up 50% of the container width */
}