/* Header Style*/
header {
  color: #fff;
  padding: 1rem;
  text-align: center;}
  
body {
      background-color: #e0e0e4;
      padding-left: 10%;
      padding-right: 10%;
    }

/*Page title Name*/
  h1 {
    padding-left: 20%;
    padding-right: 20%;
    font-size: 5em;
    color:#353773;
    font-family: Impact, sans-serif;
  }

/* Profile image*/
.image-container {
    width:auto;
}

.image {
   padding-left: 40%;
   padding-right: 30%;
   margin-top: 40%;
   margin-bottom: 40%;
   display: block;
  }

/* Sub-heading*/
  h2 {
    padding-left: 10%;
    padding-right: 10%;
    font-size: 1.75em;
    color: #353773;
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: lighter;
  }
  
/*Column styling*/

.flex-container {
    display: flex;
    gap: 20px;
}

.column {
    width: 70%;
}

/*Quick intro*/
  h3 {
    font-size: 1.5em;
    padding-right: 10%;
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    text-indent: 1pc;
    flex-direction:row;
    color: rgb(129, 124, 124);
    margin-top: 40%;
  }

/*copyright line included*/
  p {
    padding-left: 10%;
    padding-right: 10%;
    position:static, bottom;
    text-decoration: underline; 
    color:#353773;}


/*Responsive design: orientation*/
#content {
    width: 75%;
    margin: auto;
    line-height: 1.5em;
    font-size: 1.5em;
}

@media (orientation: portrait) 
   { #content
     {width:100%;
    line-height: 2em;
    font-size: 1.5 em;}
}

/*Common nav bar across pages */

#nav-bar {
    display: flex;
    position:center;
    font-size: 1em;
    flex-direction:row ;
    font-family:'Trebuchet MS';
}

.nav-button {
    padding-left: 10%;
    padding-right: 10%;
    background-color: rgb(221, 218, 218);
    border-radius: 20px;
    margin: 20px;
    font-family: 'Trebuchet' serif;
    color: rgb(242, 238, 238);
    text-decoration:solid;
    font-weight: bold;
}

/*Sub-heading highlight for key words*/

.highlight
{
  color:rgb(129, 124, 124);
}

/* Social icons styling created with help from co-pilot */
.social-icons {
  margin: 1rem 0;
}

.social-icons a {
  display: inline-block;
  margin: 0 10px;
}

.social-icons img {
  width: 30px;
  height: 30px;
}

 /*Footer style: static to the bottom*/
 footer {
  background: rgb(221, 218, 218);
  color:  #0b0a0a;
  padding: 0.5em;
  text-align: center;
  position: bottom;
  width: 100%;
  bottom: 0;
  margin-top: 10%;
}